
body{
	background: whitesmoke;
 
}


header {
	background:  dimgray;
   background-image: url("hielo.jpg");
font-family: serif ;
 height: fit-content;
width: 1200px;
  padding: 20px 20px;
text-align: justify;
 font-size: 28px;
  margin: 20px ;
 float: left;
}

#editPer{
  background:  dimgray;
  
font-family: serif ;
 height: fit-content;
width: 70px;
 
text-align: justify;
 font-size: 14px;

 float: left;
}

#barra{
  background:  dimgray;
font-family: serif ;
 
  padding: 20px 20px;
text-align: center;
 font-size: 18px;
  margin: 20px ;
 float: left; 
}

div{
 background:  whitesmoke;

font-family: serif ;
 height: fit-content;
  padding: 20px 20px;
text-align: justify;
 font-size: 14px;
  margin: 20px ;
 float: left;
}

#subtitulo{
  font-family: serif ;
 background:  whitesmoke;
width: 700px;
 font-size: 18px;

 float: left;
}

#izquierda{
  font-family: serif ;
 background:  whitesmoke;
width: 700px;
 font-size: 14px;

 float: left;
}

#derecha{
  font-family: serif ;
 background:  whitesmoke;
width: 450px;
 text-align: center;

 float: left;
}

footer{
 background:  dimgray;
font-family: serif ;
width: 1200px;
  padding: 20px 20px;
text-align: justify;
 font-size: 12px;
  margin: 20px ;
float: left;
}

textarea{
  width: 400px;
  height: 120px;
  font-family: serif ;

}

#enviarC{
  float: left;
  font-family: serif ;
}
