
body{
	background: whitesmoke;
 align-items: center;
 font-family: 'calibri';
}

#titulo {
  width: 500px;
  height: 5px;
}

#articulo {
  width: 500px;
  height: 500px;
}
header {
	background:  dimgray;
   background-image: url("hielo.jpg");
font-family: serif ;
 height: fit-content;
width: 1200px;
  padding: 20px 20px;
text-align: justify;
 font-size: 28px;
  margin: 20px ;
 float: left;
}

#editPer{
  background:  dimgray;
  
font-family: serif ;
 height: fit-content;
width: 70px;
 
text-align: justify;
 font-size: 14px;

 float: left;
}

textarea{
  align-items: center;
  align-content: center;
}




footer{
 background:  dimgray;
font-family: serif ;
width: 1200px;
  padding: 20px 20px;
text-align: justify;
 font-size: 12px;
  margin: 20px ;
float: left;
}

textarea{
  width: 400px;
  height: 120px;


}

#enviarC{
  float: left;
  font-family: serif ;
}
